.text-row{
    margin-bottom: 20px;
}
.textarea-row{
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.switch-row{
    .ant-form-item-control-input-content{
        display: flex;
        justify-content: end;
    }
}
.form-item-wrapper{
    label{
        text-transform: capitalize;
    }
}